body {
  background-image: linear-gradient(to bottom, rgb(83, 83, 83), rgb(43, 41, 41));
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  z-index: 0;
  margin: 0;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  opacity: 0;
  background: linear-gradient(to bottom, rgb(83, 83, 83), rgb(29, 28, 28));
  transition: opacity 1s ease-in-out;
  z-index: -1;
}
#homePageHI{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
body:has(.inputArea:focus)::before {
  opacity: 1;
}

label {
    color: #a4a9af;
}
::placeholder{
   font-size: 15px;
}
p{
    color: #d4d2cf;
    font-size: 12px;
}
#registerText{
    color: #a4a9af;
    font-size: 50px;
}
.navbar{
    background-image: linear-gradient(to right, rgb(203, 203, 203), rgb(161, 161, 161));
    position: fixed;
    width: 100vw;
    border: 3px solid rgb(63, 61, 61);
    box-shadow: 10px 10px 5px;
}
.navLinks{
    background-color: rgb(187, 186, 186);
    border-radius: 25px;
}
.navLinks:hover{
    background-color: rgb(168, 163, 163);
}
.registerBox{
    background-color: rgb(70, 69, 69);
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 10px 10px 5px;
    padding: 20px;
}